<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Courses</title>
  <style>
    body  {
  background-image: url("https://www.xmple.com/wallpaper/black-white-gradient-linear-1920x1080-c2-000000-f8f8ff-a-285-f-14.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
    .pagination {
      display: inline;
      justify-content: center;
      display: flex;
    } 
.pagination li {
  color: rgb(0, 0, 0);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination li.pages{
  color: black;
}

.pagination li.active {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
li a {
  color: #000;
}
    </style>
</head>

<body>
  <div class="container">
    <%include ../public/navbar.html %>
    <div class="row">
      <div class="col-md-6 m-auto">
        <h3 class="text-center display-5 my-4">List of Courses</h3>
        <hr>
        <% if(files){ %>
        <% files.forEach(function(file) { %>
          <div class="w3-card-4 w3-dark-gray w3-round">
              <div class="w3-container w3-center">
                <h3><%= file.title %></h3>
                <h6 class="w3-right">by <%- file.userName %></h6><br><hr>
            <p><%- file.description %></p>
                <hr> 
                <p><%- file.keyWords %></p>
                <hr>
                </div>
                <div class="w3-container w3-center">
                    <% if(user){ %>
                    <form method="GET" action="/download/<%= file.title %>" style="display: inline-block">
                    <input type="hidden" name="id" value="<%= file._id %>" />
                     <button class="w3-button w3-green w3-round">Download</button>
                    </form>
                    <form method="GET" action="/Filecomments/<%= file._id %>" style="display: inline-block">
                     <button class="w3-button w3-blue w3-round">File Comments</button>
                    </form>
                    <% if(user.role === "admin"){ %>
                      <form method="POST" action="/files/<%= file._id %>?_method=DELETE" style="display: inline-block">
                        <button class="w3-button w3-red w3-round" >Delete</button>
                      </form>
                      <% } %>
                      <% }else { %>
                        <form method="GET" action="/Filecomments/<%= file._id %>" style="display: inline-block">
                          <button class="w3-button w3-blue w3-round">File Comments</button>
                         </form>
                         <% } %>
                  <hr>
              </div>
            </div>
            <br>
        <% }) %>
        <% } else { %>
        <p>No files to show, <a href="/submit">Submit</a> here</p>
        <% } %>
      </div>
    </div>


    <% if (pages > 0) { %>
    <ul class="pagination">
      <% if (current == 1) { %>
      <li class="disabled"><a>First</a></li>
      <% } else { %>
      <li><a href="/filesPage/1">First</a></li>
      <% } %>
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
      <li class="disabled"><a>...</a></li>
      <% } %>
      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
      <% if (i == current) { %>
      <li class="active" ><a><%= i %></a></li>
      <% } else { %>
      <li><a href="/filesPage/<%= i %>"><%= i %></a></li>
      <% } %>
      <% if (i == Number(current) + 4 && i < pages) { %>
      <li class="disabled"><a>...</a></li>
      <% } %>
      <% } %>
      <% if (current == pages) { %>
      <li class="disabled"><a>Last</a></li>
      <% } else { %>
      <li><a href="/filesPage/<%= pages %>">Last</a></li>
      <% } %>
    </ul>
    <% } %>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>